.first{
    max-width: 1120px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    gap: 20;
}
.showItem {
    background-color: #82c29c;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
    border-radius: 13px;
    transition: all 0.5s;
    margin: 10px;
    padding: 10px;
}
.showItem h1{
    color: #fff;
}
button{
    width: 100%;
    padding: 20px;
    margin-top: 10px;
    color: #000;
    font-size: 22px;
    text-transform: uppercase;

}
.showItem p{
    font-weight: bold;
}
.showItem:hover{
    background-color: #446451;
    cursor: pointer;
}